<h3>Adding Fish</h3>
<p>The transition from the pet store or aquatic store to a new aquarium is often stressful for fish as they react and adjust to their new environments. In some cases, elevated stress levels can lead to fish contracting harmful diseases.</p><details>
    <summary>PROTECTING FISH HEALTH</summary>
    <p>The transition from a store to a new tank is stressful for your fish, making them more susceptible to disease. API® STRESS COAT™ water conditioner forms a synthetic slime coat and replaces the natural secretion of slime that is interrupted by handling, shipping, fish fighting, and other stressors to your fish that increase their susceptibility to disease and infection. API STRESS COAT water conditioner is scientifically proven to reduce fish stress by up to 40%, and heals wounds in addition to promoting regeneration of damaged fish tissue.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/stress-coat">STRESS COAT™</a>
    </div>
</details>
<details>
    <summary>REDUCING RISK OF DISEASE</summary>
    <p>New fish may carry diseases that aren’t initially detectable. Use API® MELAFIX™ fish remedy when adding new fish to your tank to reduce the risk of spreading disease to healthy fish. MELAFIX fish remedy contains the natural active ingredient Melaleuca, or tea tree extract, to treat bacterial fish disease, and also aids in repairing damaged tissues and fins from handling and netting. MELAFIX fish remedy is safe for use with even delicate fish species, and will not color aquarium water, harm aquatic plants, stain ornaments, or alter pH.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/melafix">MELAFIX™</a>
    </div>
</details>
<details>
    <summary>BOOSTING BACTERIA</summary>
    <p>The more fish that are added to a freshwater aquarium, the more harmful ammonia and nitrite levels will rise as a result of waste. Any elevated levels of these toxic chemicals can stress fish, leading to disease and fish loss. The addition of API® QUICK START™ nitrifying bacteria in your tank lowers ammonia and nitrite levels for a healthier, safer aquatic environment, helping to prevent fish loss. This all-natural formula contains a unique blend of live, nitrifying bacteria that help maintain an active biological filter, leading to a thriving aquatic environment for fish.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/quick-start">QUICK START™</a>
    </div>
</details>
