<h3>Fish Problem Solving</h3>
<p>Learn to recognize when fish need care and how to treat them. Normal behavioral patterns of your fish will reveal a lot when it comes to healthy behavior versus unhealthy behavior. If your fish suddenly seem lethargic, lose their appetite, or begin hovering at the top of the tank when they ordinarily don’t, then they are likely ill and need to be treated with the proper fish remedy. Don’t assume that your fish will bounce back from disease on their own – treat them as soon as you notice symptoms.</p><details>
    <summary>TREATING BACTERIAL FISH DISEASE</summary>
    <p>Symptoms of bacterial disease include fin & tail rot, eye cloud, body slime, mouth fungus, blood streaks in fins and body, and open red sores.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/melafix">MELAFIX™</a><a href="https://apifishcare.com/product/e-m-erythromycin">E.M. ERYTHROMYCIN™</a><a href="https://apifishcare.com/product/fin-body-cure">FIN & BODY CURE™</a><a href="https://apifishcare.com/product/furan-2">FURAN-2™</a><a href="https://apifishcare.com/product/triple-sulfa">TRIPLE SULFA™</a>
    </div>
</details>
<details>
    <summary>TREATING FISH FUNGUS</summary>
    <p>Fungus may appear as white, cottony tufts or patches on the mouth, skin, and fins of your fish, and should be treated as soon as possible once diagnosed. API® PIMAFIX™ fish remedy rapidly treats fungal infections, as well as internal and external bacterial infections, and provides a broad-spectrum treatment that prevents pathogens from developing resistance. It is safe for use even with delicate fish species, and may be used in conjunction with API MELAFIX™ fish remedy to treat a broad range of infections.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/melafix">MELAFIX™</a><a href="https://apifishcare.com/product/pimafix">PIMAFIX™</a>
    </div>
</details>
<details>
    <summary>TREATING ICK</summary>
    <p>"Ick" is one of the most common fish diseases, and is caused by a parasite that burrows into the gill and skin tissue of fish. Ick is highly contagious and, in addition to being removed from a community tank, your fish should be treated as soon as symptoms are observed, which may include labored breathing, rapid darting around the aquarium, scratching against objects, and white spots on fins, body, and eyes, to name a few. API® SUPER ICK CURE™ fish remedy works fast to kill the "Ick" parasite, usually within 24 hours, and helps heal the fish’s natural slime coat which is damaged by the parasite. API SUPER ICK CURE fish remedy helps prevent secondary infection, and also treats other external parasites such as Oodinium (velvet).</p>
    <div class="products">
        <a href="https://apifishcare.com/product/super-ick-cure">SUPER ICK CURE™</a>
    </div>
</details>
<details>
    <summary>BOOSTING FISH HEALTH</summary>
    <p>API AQUARIUM SALT is a great, all-natural way to boost the health of your freshwater fish. Made from evaporated sea water, aquarium salt promotes healthy gill function and improves fish respiration, adding essential electrolytes that fish need to reach peak coloration and health. Aquarium salt also promotes disease recovery, and reduces the harmful effects of nitrite on your fish. Use when performing partial water changes and to promote fish disease recovery during or after treatment.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/aquarium-salt">AQUARIUM SALT</a>
    </div>
</details>
<details>
    <summary>TREATING PARASITIC DISEASE</summary>
    <p>Fast-acting API® GENERAL CURE™ fish remedy treats symptoms of parasitic fish disease, which may cause dramatic weight loss, swollen abdomen, and erosion of skin and muscle tissue around fish’s head or face. API GENERAL CURE fish remedy works to treat these symptoms quickly and effectively to grant your fish relief, and comes in powder form.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/general-cure">GENERAL CURE™</a>
    </div>
</details>
