<header>
    <div class="title">
        Aquarium Care Guide
    </div>
    <nav style="margin-left: 2rem;">
        <a href="/">Home</a>
        <a href="/freshwater.html">Freshwater</a>
        <a href="/planted.html">Planted</a>
        <a href="/coral.html">Coral</a>

    </nav>
    <nav style="margin-left: auto;">

        <!-- <a href="/contact.html" id="nav-contact">Contact</a> -->
        <a href="https://github.com/seayjohnny/fish-care-guide/tree/gh-pages">Source</a>
    </nav>
</header>