<h3>Plant Care</h3>
<p>Growing healthy, lush aquatic plants is easy! One benefit of a planted aquarium is that plants help reduce algae growth, as they compete for the same nutrients. Be sure that your fish are compatible with plants first, though, since many are ravenous vegetarians and may constantly uproot plants.</p><details>
    <summary>FEEDING LEAVES</summary>
    <p>Without the addition of essential nutrients in a planted, freshwater aquarium, plants will gradually yellow, drop their leaves, and die. API® LEAF ZONE™ plant treatment is an excellent source of necessary plant nutrients, and is rapidly absorbed through plant leaves to promote lush growth and vibrant color. This liquid aquatic plant food is rich in iron and potassium to keep established plants flourishing, and can be added once a week for optimal plant growth.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/leaf-zone">LEAF ZONE™</a>
    </div>
</details>
<details>
    <summary>ADDING ESSENTIAL CARBON</summary>
    <p>One of the leading causes of poor plant growth is carbon deficiency. API® CO2 BOOSTER™ plant treatment is a liquid supplement that adds this essential carbon in an easy-to-dose form, which aids in fueling the photosynthetic process by slowly releasing simple carbon compounds to plants in freshwater tanks. This liquid solution will not alter pH, and is safe for use with freshwater fish.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/co2-booster">CO2 BOOSTER™</a>
    </div>
</details>
<details>
    <summary>FEEDING THE ROOTS</summary>
    <p>API® ROOT TABS™ plant treatment are rich in iron to ensure that your plants receive the necessary nutrients for strong roots and rapid growth. This long-lasting formula feeds plants for a month, and gets new plants off to a great start while keeping established plants flourishing. For best results, API ROOT TABS plant treatment may be used in conjunction with a liquid fertilizer for optimal aquatic plant growth.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/root-tabs">ROOT TABS™</a>
    </div>
</details>
