<h3>Regular Care</h3>
<p>It’s smart to be proactive! Many fish keepers and aquarium hobbyists seek to treat problems once they’ve already occurred, and in some cases, even once they’ve escalated to the point of unmanageability. This is why it’s prudent to maintain a healthy aquarium from the moment that It has been established. The result will be healthy and happy fish, and an aesthetically pleasing, tranquil aquarium.</p><details>
    <summary>CLEANING YOUR AQUARIUM</summary>
    <p>When organic sludge builds up in the aquarium, it can smother the nitrifying bacteria that maintain the nitrogen cycle, creating an unhealthy environment for fish. Weekly addition of API® STRESS ZYME™ bacterial cleaner ensures a healthy population of sludge-destroying bacteria to break down any organic matter that might threaten your aquarium’s cycle. This all-natural formula contains a unique blend of five bacterial strains selected to reduce sludge build-up in a freshwater aquarium, in order to keep the aquarium healthy and balanced.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/stress-zyme">STRESS ZYME™</a>
    </div>
</details>
<details>
    <summary>CONTROLLING ALGAE</summary>
    <p>Algae growth is a common problem in most freshwater aquariums, but can be minimized and controlled with API® ALGAEFIX™ algae control. This liquid aquarium treatment reduces algae growth and effectively controls "green water" algal blooms, and String or Hair algae. ALGAEFIX algae control will not alter pH or discolor water, and is a safe algaecide for aquariums containing live plants and fish when used as directed. ALGAEFIX algae control may be used weekly to reduce aquarium maintenance, and is an effective remedy for reducing unsightly algae. It’s also helpful to keep your tank out of direct sunlight and to monitor your aquarium lighting to discourage algae from forming in the future.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/algaefix">ALGAEFIX™</a>
    </div>
</details>
<details>
    <summary>FOR CLEAN, CLEAR WATER</summary>
    <p>Organic waste is released into an aquarium by fish, invertebrates, plants, algae, and uneaten fish food, all of which degrade water quality. API® BIO-CHEM ZORB™ filtration media contains a high grade resin/carbon blend for the superior removal of aquarium pollutants, including colors and odors, and it removes light-blocking impurities for improved plant growth in freshwater aquariums. This breakthrough water filtration technology is more effective than carbon alone, and is available in ready-to-use pouches or cartridges that fit most filters. Cartridges should be replaced monthly and larger pouches should be changed every two months or sooner if colors or odors are detected. Be sure to dose API QUICK START™ nitrifying bacteria whenever filtration media is rinsed or exchanged so that the nitrogen cycle in the aquarium is maintained for the health of your fish.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/bio-chem-zorb">BIO-CHEM ZORB™</a><a href="https://apifishcare.com/product/quick-start">QUICK START™</a>
    </div>
</details>
<details>
    <summary>MEASURING WATER PARAMETERS</summary>
    <p>Water testing is an important part of boosting and maintaining aquarium health to ensure optimal aquarium conditions. API® 5-IN-1 TEST STRIPS measure important water parameters in your freshwater tank, including pH, nitrate, nitrite, carbonate hardness, and general hardness. For newer tanks it is essential to test for toxic ammonia and so it is recommended to use API AMMONIA TEST STRIPS to ensure that these levels are kept to a minimum. Test strips are fast, accurate, and easy to use, and include information on how to correct unsafe water conditions. In addition, your nitrate levels can be used as a guide to determine your water exchange frequency and amounts, simply adjust your water change schedule so that your nitrate does not exceed 40ppm between water changes.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/5-in-1-test-strips">5-IN-1 TEST STRIPS</a><a href="https://apifishcare.com/product/ammonia-test-strips">AMMONIA TEST STRIPS</a>
    </div>
</details>
