
<h3>Start Up & Change Water</h3>
<p>Good water quality is key to starting a successful aquarium and keeping it healthy for your fish, since aquarium water quality to fish is as important as the quality of air we breathe as humans.  Choose from the categories below to learn more about best freshwater aquarium practices.</p><details>
    <summary>TREATING TAP WATER</summary>
    <p>When starting a new freshwater aquarium or changing your water, it is necessary to use a water conditioner that will eliminate harmful chemicals, such as chlorine, chloramines, and heavy metals, from your source water before adding to your tank. API® STRESS COAT™ water conditioner, as well as API TAP WATER CONDITIONER™ treatment are products that will make tap water safe for fish by neutralizing the chemicals commonly found in tap water. STRESS COAT water conditioner in particular contains the healing power of Aloe Vera to protect your fish’s slime coat, which guards against bacteria and disease, and promotes healing and regeneration of damaged tissue, reducing fish stress by up to 40%. All of these treatments work instantly to dechlorinate aquarium water, so you can start enjoying your underwater world right away.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/stress-coat">STRESS COAT™</a><a href="https://apifishcare.com/product/tap-water-conditioner">TAP WATER CONDITIONER™</a>
    </div>
</details>
<details>
    <summary>STARTING THE AQUARIUM CYCLE</summary>
    <p>After starting a new freshwater aquarium or performing filter or tank maintenance on an established tank, the addition of beneficial bacteria are required to kick start the nitrogen cycle in your tank. This cycle, can take 2 to 6 weeks to fully establish in a new freshwater aquarium and will be necessary for the health of your fish. Without these beneficial nitrifying bacteria, toxic ammonia quickly builds up in the aquarium and will stress the fish. All-natural, API® QUICK START™ nitrifying bacteria formula immediately starts the nitrogen cycle, which converts toxic ammonia into nitrite, then into harmless nitrate to help prevent fish loss in your tank.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/quick-start">QUICK START™</a>
    </div>
</details>
<details>
    <summary>SETTING & HOLDING AQUARIUM pH</summary>
    <p>In order for freshwater fish to thrive, the pH in the aquarium must be maintained at a level similar to their natural habitat. pH can fluctuate with the addition of rocks, plants, and new fish to an aquarium, so it is important to test your levels weekly to ensure they remain in a healthy range for your fish. API® PROPER pH™ powder easily sets and holds pH at the desired target level, and since different fish require different pH levels, PROPER pH powder is available in four different pH target levels:</p>
    <div class="products">
        <a href="https://apifishcare.com/product/proper-ph-6-5">PROPER pH™ 6.5</a><a href="https://apifishcare.com/product/proper-ph-7-0">PROPER pH™ 7.0</a><a href="https://apifishcare.com/product/proper-ph-7-5">PROPER pH™ 7.5</a><a href="https://apifishcare.com/product/proper-ph-8-2">PROPER pH™ 8.2</a>
    </div>
</details>
<details>
    <summary>BOOSTING FISH HEALTH</summary>
    <p>AQUARIUM SALT is a great, all-natural way to boost the health of your freshwater fish. Made from evaporated sea water, aquarium salt promotes healthy gill function and improves fish respiration, adding essential electrolytes that fish need to reach peak coloration and health. Aquarium salt also promotes disease recovery, and reduces the harmful effects of nitrite on your fish. Use when performing partial water changes and to promote fish disease recovery.</p>
    <div class="products">
        <a href="https://apifishcare.com/product/aquarium-salt">AQUARIUM SALT</a>
    </div>
</details>
